@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/funnelsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/funnelsans-variablefont_wght-webfont.woff") format("woff");
}

@import "bootstrap/scss/bootstrap-grid";

@media (max-width: 768px) {
  .navprincipale {
    gap: 20px; // Réduit l'espace entre les éléments pour les écrans plus petits
    font-size: 16px; // Ajuste la taille de la police
  }
}

:root {
  --violet: #332254;
  --vert: #505f53;
}

.row + .row {
  margin-top: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
.body {
  margin: 0;
  padding: 0;
}

.navigation {
  height: 124px;
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajoute cet alignement */
}

.navprincipale {
  display: flex;
  gap: 55px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center; /* Centre le contenu de la nav principale */
  align-items: center; /* Centre verticalement */
  margin-top: 20px; /* Ajuste la distance par rapport à la navigation secondaire */
  position: relative; /* Nécessaire pour ne pas chevaucher */
  transform: translateY(37px); /* Descend encore légèrement */
  padding-bottom: 31px;
  text-align: center;
}
a {
  text-decoration: none;
}
.navsecondaire {
  display: flex;
  gap: 25px;
  font-family: "Funnel Sans";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0; /* Pour ne pas impacter l'espacement vertical */
  align-items: center; /* Centre verticalement */
}

.langue-choisie {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navprincipale p,
.navsecondaire p {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
}

.navprincipale p::before,
.navsecondaire p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: #000;
  transition: width 0.4s ease-out;
}

.navprincipale p:hover::before,
.navsecondaire p:hover::before {
  width: 100%;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-logo {
  display: flex;
  width: 58px;
  justify-content: space-between;
  align-items: center;
  transform: translateY(37px);
  padding-bottom: 31px;
}

.nav-logo-marque {
  display: flex;
  align-items: center;
}

.logo-marque-div {
  width: 320px;
}

.header {
  background-image: url(../img/homepage.png);
  background-size: cover;
  background-position: bottom center;
  width: 100%;
}
.visuel-homepage-titre {
  color: #fff;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-top: 184px;
}

.calltoaction-visuel {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-bottom: 294px;
  border-radius: 0px;
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.calltoaction-visuel:hover {
  border-radius: 0px 25px;
  background: #fff;
}
.visuel-homepage-bouteille {
  transform: translateY(50px);
  width: auto;
}

.img-article-vinrouge {
  display: flex;
  justify-content: flex-end;
}

.article-texte-integral {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding-top: 41px;
}
.article-titre {
  align-self: stretch;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  text-transform: uppercase;
}

.article-ligne {
  width: 446px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}

.article-texte {
  align-self: stretch;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.article-calltoaction {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0);
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  transition-property: padding;
  transition-duration: 0.5s;
}

.article-calltoaction:hover {
  padding-left: 25px;
}
.article {
  margin-top: 202px;
}

.sketchbook .product-image img {
  transition: transform 0.5s;
}
.sketchbook .product-image {
  overflow: hidden;
}

.sketchbook:hover .product-image img {
  transform: scale(1);
}

.img-homepage {
  width: 100%;
}

.img-article-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 0px 186px;
}

.img-article-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}

.img-article-container:hover img {
  transform: scale(1.1);
}

.img-article-container-droite {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 186px 0px;
}

.img-article-container-droite img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}

.img-article-container-droite:hover img {
  transform: scale(1.1);
}

.dégustation {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  margin-bottom: 115px;
}

.contenu-ligne {
  background: rgba(0, 0, 0, 0.3);
  height: 1px;
  width: 100%;
}

.texte-dégustation {
  color: #000;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 125% */
  text-transform: uppercase;
  margin-top: 53px;
}

.dégustation-calltoaction {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 53px;
  margin-left: auto;
  margin-right: auto;
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.dégustation-calltoaction:hover {
  border-radius: 0px 25px;
}

.footer {
  background: rgba(51, 34, 84, 0.1);
  padding-top: 48px;
}

.newsletter-texte {
  color: #000;
  text-align: center;
  font-family: "Funnel Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}

.calltoaction-newsletter {
  display: flex;
  width: 301px;
  height: 47px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 185px;
  flex-shrink: 0;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.calltoaction-newsletter:hover {
  border-radius: 0px 25px;
}
.réseaux {
  display: flex;
  width: 73px;
  height: 36px;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.trait-footer-logo {
  background: rgba(0, 0, 0, 0.3);
  width: 502px;
  width: 37%;
  height: 1px;
}

.footer-logo {
  display: inline-flex;
  height: 54.35px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
  margin-top: 36px;
}

.footer-dégustation .titre {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 140% */
}

.footer-dégustation .texte {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

.footer-dégustation .numéro {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 7px;
  padding-top: 5px;
}

.footer-dégustation {
  margin-top: 32.65px;
}

.footer-adresse {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin-top: 50.65px;
  margin-bottom: 45px;
}

.footer-logo-1 {
  margin-top: 46.65px;
  display: flex;
  justify-content: center;
}

.footer-logo-2 {
  margin-top: 57.65px;
  display: flex;
  justify-content: center;
}

.footer-langues {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-shrink: 0;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  text-transform: uppercase;
  margin-top: 26px;
}

.footer-langue {
  display: flex;
  padding: 2px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-langue-choisie {
  display: flex;
  padding: 2px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-petites-infos-droite {
  margin-left: auto;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 175% */
}

.footer-petites-infos {
  margin-top: 6px;
  display: flex;
  gap: 40px;
  justify-content: stretch;
  margin-left: 40px;
  margin-right: 40px;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 175% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: 6.5%; /* 0.78px */
  text-underline-position: from-font;
  padding-bottom: 7px;
}

.vin-titre {
  color: #fff;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 125% */
  text-transform: uppercase;
  margin-top: 162px;
  margin-bottom: 8px;
}

.vin-sous-titre {
  color: #fff;
  font-family: "Funnel Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  text-transform: uppercase;
  margin-bottom: 159px;
}

.banniere {
  background-image: url(../img/fond_violet.png);
  background-position: top center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 455px;
}

.banniere-vert {
  background-image: url(../img/fond_vert.png);
  background-position: top center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 455px;
}

.fil-dariane {
  display: flex;
  width: 288px;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Funnel Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  text-transform: uppercase;
  margin-left: 40px;
  padding-top: 45px;
}

.vin-image {
  margin-top: 11px;
}

.infos-vin {
  display: flex;
  height: 27px;
  align-items: center;
  gap: 35px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: row;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px; /* 135% */
  text-transform: uppercase;
  margin-bottom: 88px;
}

.infos-vin-ligne {
  width: 1px;
  height: 31px;
  background: rgba(0, 0, 0, 0.3);
}

.prix {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px; /* 112.5% */
  text-transform: uppercase;
  margin-bottom: 23px;
}

.calltoaction-détail-vin-1 {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-bottom: 17px;
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.calltoaction-détail-vin-2 {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  background: var(--violet, #332254);
  color: #fff;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-bottom: 161px;
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.calltoaction-détail-vin-2:hover {
  border-radius: 0px 25px;
}

.calltoaction-détail-vin-2-vert {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  background: var(--vert);
  color: #fff;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-bottom: 161px;
  transition-duration: 0.5s;
}

.calltoaction-détail-vin-2-vert:hover {
  border-radius: 0px 25px;
}

.calltoaction-détail-vin-1:hover {
  border-radius: 0px 25px;
}

.notes-dégustation {
  display: flex;
  height: 410px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  margin-top: 97px;
}
.notes-dégustation-titre {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
  text-transform: uppercase;
}

.notes-dégustation-ligne {
  height: 1px;
  width: 354px;
  background: rgba(0, 0, 0, 0.3);
}

.notes-dégustation-texte {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.element-gras {
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.vin-titres-et-contenus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  flex-shrink: 0;
  margin-top: 97px;
}

.titres-et-contenu {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.titres-et-contenu .titre {
  width: 166px;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
}

.titres-et-contenu .contenu {
  width: 261px;
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.lignes-titres-et-contenu {
  background: linear-gradient(
    -270deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  width: 451px;
  height: 1px;
}

.vin-similaire-titre {
  color: #000;
  text-align: center;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 87.5% */
  text-transform: uppercase;
  margin-top: 121px;
  margin-bottom: 53px;
}

.bouteilles-vins-similaires {
  padding-left: 15px;
  padding-right: 15px;
  position: relative; /* Nécessaire si d'autres styles interagissent */
  transition: transform 0.3s ease;
}

.bouteilles-vins-similaires:hover {
  transform: scale(1.03); /* Agrandit l'élément */
}

.vins-similaires-noms {
  color: #000;
  text-align: center;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-top: 20px;
}

.calltoaction-vins-similaires {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  color: #000;
  font-family: "Funnel Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-bottom: 115px;
  margin-top: 58px;
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.calltoaction-vins-similaires:hover {
  border-radius: 0px 25px;
}

.vins-similaires-conteneur {
  display: flex;
  justify-content: center;
}

.fond-feuilles-blanc {
  background-image: url(../img/fond_feuille_blanc.png);
}
