@font-face {
  font-family: Playfairdisplay;
  src: url("/src/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Funnelsans;
  src: url("/src/fonts/FunnelSans-VariableFont_wght.ttf") format("truetype");
}

@import "bootstrap/scss/bootstrap-grid";

:root {
  --violet: #332254;
  --vert: #505f53;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  font-family: Funnelsans;
  color: var(--violet);
}
