@font-face {
  font-family: Playfairdisplay;
  src: url("/src/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Funnelsans;
  src: url("/src/fonts/FunnelSans-VariableFont_wght.ttf") format("truetype");
}

:root {
  --violet: #332254;
  --vert: #505f53;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  font-family: Funnelsans;
  color: var(--violet);
}
